@model ProgAvanzada_ProyectoFinal.Models.Usuario

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background: #3b5998; height: 10px; width: 950px; margin: 0px auto;"></div>

<br />
<h3>Bienvenido le recomendamos lo siguiente:</h3>
<br />
<ol class="round">
    <li class="one">
        <h5>Agregar material escrito</h5>
        Simplemente elija la opcion de material escrito en el menú de aqui arriba.
    </li>
    <br />
    <li class="two">
        <h5>Busca material escrito</h5>
        Puedes buscar material escrito ya agregado en esta base de datos, de 2 maneras:

        La manera sencilla, la cual solo consiste en buscar alguna coincidencia con el nombre del libro y la
        búsqueda avanzada la cual consiste en buscar acorde al campo que usted desee.
    </li>
    <br />
    <li class="three">
        <h5>¿Tiene problemas?</h5>
        Porfavor visite nuestra sección de "Contacto", donde se encuentran todas las opciones para contactarnos.
    </li>
</ol>

